<mat-form-field>
  <input matInput placeholder="Grade">
</mat-form-field>

<mat-form-field>
    <input matInput placeholder="Cat-Chem">
  </mat-form-field>

  <mat-form-field>
      <input matInput placeholder="Mat Code">
    </mat-form-field>
    <i class= "icon_style"class="material-icons">
        search
        </i>
         <div class="filter">
            <button class="btn" mat-raised-button color="primary">
                <i class="fa fa-filter" aria-hidden="true"></i>
            </button>
         </div>
<table class="table table-bordered" >
<thead>
  <tr>
    <td class="heading"  rowspan="2">&nbsp;Grade</td>
    <td class="heading" colspan="3">&nbsp;Monthly Product/Grade</td>
    <td class="heading" rowspan="2">&nbsp;Mat Code </td>

    <td class="heading" rowspan="2">&nbsp;cat chem detail</td>
    <td  class="heading" rowspan="2">&nbsp;Month</td>
    <td  class="heading" colspan="3">&nbsp;Quarterly cat chem detail Vs Consumption</td>
    <td  class="heading"rowspan="2">&nbsp;Lead</td>
    <td class="heading" rowspan="2">&nbsp;Stock(Safety stock + unrestricted stock)</td>
    <td  class="heading" rowspan="2">&nbsp;In Transit</td>
    <td wrap class="heading" rowspan="2">&nbsp;Call/Stagger 
      dispatch against SAG Open Qty</td>
    <td class="heading" rowspan="2">&nbsp;PR Released(Qty)</td>
    <td class="heading"  rowspan="2">PO under approval(Qty)</td>
  </tr>
  <tr >
    <td class="heading" >&nbsp;Annual Plan</td>
    <td class="heading" >&nbsp;Rolling Plan</td>
    <td class="heading" >&nbsp;Process Order qty</td>
    <td class="heading">&nbsp; AOP </td>
    <td class="heading">&nbsp;Rolling plan</td>
    <td class="heading">&nbsp;Actual/Project consumption</td>
  </tr>
  <tr >
    <td  rowspan="18">&nbsp; {{data.grade}}</td>
    <td  rowspan="18">&nbsp; {{data.monthly_product.annual_plan}}</td>
    <td  rowspan="18">&nbsp;{{data.monthly_product.rolling_plan}}</td>
    <td style="color:red;" rowspan="18">&nbsp;{{data.monthly_product.process_order}}</td>
    <td  rowspan="3" >&nbsp;100000043</td>
<!-- <table>
  
</table> -->

    <td nowrap class="cat_Chem" rowspan="3">&nbsp;CHEM ZINC OXIDE </td>
    <td class="light_orange">&nbsp;Oct</td>
    <td class="td_style">&nbsp;30</td>
    <td class="td_style">&nbsp;30</td>
    <td class="td_style">&nbsp;45</td>
    <td  rowspan="3">&nbsp;{{data.lead}}</td>
    <td style="word-wrap: break-word; color: red;" rowspan="3">&nbsp;{{data.stock}}</td>
    <td  rowspan="3">&nbsp;{{data.in_transit}}</td>
    <td  rowspan="3">&nbsp;{{data.call_stagger}}</td>
    <td class="red_color" rowspan="3">&nbsp;{{data.PR_released}}</td>
    <td rowspan="3">&nbsp;{{data.PO_under_approval}}</td>
  </tr>
  <tr class="td_style">
    <td >&nbsp;Nov</td>
    <td >&nbsp;29</td>
    <td >&nbsp;29</td>
    <td>&nbsp;43</td>
  </tr>
  <tr class="td_style">
    <td>&nbsp;Dec</td>
    <td>&nbsp;33</td>
    <td >&nbsp;33</td>
    <td >&nbsp;50</td>
  </tr>
  <tr >
    <td rowspan="3">&nbsp;1000000045</td>
    <td  nowrap rowspan="3">&nbsp;CHEM TEAL C-430</td>
    <td class="light_orange">&nbsp;Oct</td>
    <td class="td_style">&nbsp;20</td>
    <td class="td_style" >&nbsp;20</td>
    <td class="td_style">&nbsp;30</td>
    <td  rowspan="3">&nbsp;{{data.lead}}</td>
    <td  rowspan="3">&nbsp;{{data.stock}}</td>
    <td  rowspan="3">&nbsp;{{data.in_transit}}</td>
    <td class="orange_color" rowspan="3">&nbsp;{{data.call_stagger}}</td>
    <td  rowspan="3">&nbsp;{{data.PR_released}}</td>
    <td  rowspan="3">&nbsp;{{data.PO_under_approval}}</td>
  </tr>
  <tr class="td_style">
    <td>&nbsp; Nov</td>
    <td>&nbsp;30</td>
    <td>&nbsp;30</td>
    <td >&nbsp;40</td>
  </tr>
  <tr class="td_style">
    <td >&nbsp;Dec</td>
    <td>&nbsp;30</td>
    <td>&nbsp;40</td>
    <td>&nbsp;50</td>
  </tr>
  
  <tr >
      <td rowspan="3">&nbsp;1000000047</td>
      <td  nowrap rowspan="3">&nbsp;CHEM TEAL C-430</td>
      <td class="light_orange" >&nbsp;Oct</td>
      <td class="td_style">&nbsp;20</td>
      <td class="td_style">&nbsp;20</td>
      <td class="td_style">&nbsp;30</td>
      <td  rowspan="3">&nbsp;{{data.lead}}</td>
      <td  rowspan="3">&nbsp;{{data.stock}}</td>
      <td  rowspan="3">&nbsp;{{data.in_transit}}</td>
      <td  rowspan="3">&nbsp;{{data.call_stagger}}</td>
      <td  class="orange_color" rowspan="3">{{data.PR_released}}</td>
      <td  rowspan="3">&nbsp;{{data.PO_under_approval}}</td>
    </tr>
    <tr class="td_style" >
      <td>&nbsp; Nov</td>
      <td>&nbsp;30</td>
      <td>&nbsp;30</td>
      <td>&nbsp;40</td>
    </tr>
    <tr  class="td_style">
      <td>&nbsp;Dec</td>
      <td>&nbsp;30</td>
      <td>&nbsp;40</td>
      <td>&nbsp;50</td>
    </tr>

    <tr >
        <td rowspan="3">&nbsp;1000000318</td>
        <td  nowrap rowspan="3">&nbsp;CHEM TEAL C-430</td>
        <td class="light_orange" >&nbsp;Oct</td>
        <td class="td_style" >&nbsp;20</td>
        <td class="td_style" >&nbsp;20</td>
        <td class="td_style">&nbsp;30</td>
        <td  rowspan="3">&nbsp;{{data.lead}}</td>
        <td  rowspan="3">&nbsp;{{data.stock}}</td>
        <td  rowspan="3">&nbsp;{{data.in_transit}}</td>
        <td  rowspan="3">&nbsp;{{data.call_stagger}}</td>
        <td  rowspan="3">&nbsp;{{data.PR_released}}</td>
        <td  rowspan="3">&nbsp;{{data.PO_under_approval}}</td>
      </tr>
      <tr class="td_style" >
        <td>&nbsp; Nov</td>
        <td >&nbsp;30</td>
        <td >&nbsp;30</td>
        <td >&nbsp;40</td>
      </tr>
      <tr class="td_style">
        <td >&nbsp;Dec</td>
        <td>&nbsp;30</td>
        <td >&nbsp;40</td>
        <td>&nbsp;50</td>
      </tr>

      <tr >
          <td rowspan="3">&nbsp;1000023391</td>
          <td  nowrap rowspan="3">&nbsp;CHEM TEAL C-430</td>
          <td class="light_orange">&nbsp;Oct</td>
          <td class="td_style">&nbsp;20</td>
          <td class="td_style">&nbsp;20</td>
          <td class="td_style">&nbsp;30</td>
          <td  rowspan="3">&nbsp;{{data.lead}}</td>
          <td  rowspan="3">&nbsp;{{data.stock}}</td>
          <td  rowspan="3">&nbsp;{{data.in_transit}}</td>
          <td  rowspan="3">&nbsp;{{data.call_stagger}}</td>
          <td  rowspan="3">&nbsp;{{data.PR_released}}</td>
          <td  rowspan="3">&nbsp;{{data.PO_under_approval}}</td>
        </tr>
        <tr class="td_style" >
          <td  >&nbsp; Nov</td>
          <td >&nbsp;30</td>
          <td >&nbsp;30</td>
          <td  >&nbsp;40</td>
        </tr>
        <tr class="td_style" >
          <td >&nbsp;Dec</td>
          <td >&nbsp;30</td>
          <td >&nbsp;40</td>
          <td >&nbsp;50</td>
        </tr>

        <tr >
            <td rowspan="3">&nbsp;1000023395</td>
            <td  nowrap rowspan="3">&nbsp;CHEM TEAL C-430</td>
            <td class="light_orange" >&nbsp;Oct</td>
            <td class="td_style">&nbsp;20</td>
            <td class="td_style" >&nbsp;20</td>
            <td class="td_style">&nbsp;30</td>
            <td  rowspan="3">&nbsp;{{data.lead}}</td>
            <td  rowspan="3">&nbsp;{{data.stock}}</td>
            <td  rowspan="3">&nbsp;{{data.in_transit}}</td>
            <td  class="orange_color" rowspan="3">&nbsp;{{data.call_stagger}}</td>
            <td  rowspan="3">&nbsp;{{data.PR_released}}</td>
            <td  rowspan="3">&nbsp;{{data.PO_under_approval}}</td>
          </tr>
          <tr class="td_style">
            <td >&nbsp; Nov</td>
            <td >&nbsp;30</td>
            <td >&nbsp;30</td>
            <td >&nbsp;40</td>
          </tr>
          <tr class="td_style">
            <td >&nbsp;Dec</td>
            <td >&nbsp;30</td>
            <td >&nbsp;40</td>
            <td >&nbsp;50</td>
          </tr>
        </thead> 
        <thead>
          <tr *ngFor = "let item of data.mat_code"><td>{{item}}</td></tr>
        </thead>
       
</table>

 {{data| json}}

<table class="table">
  <thead>
    <tr>
      <th>Mat Code</th>
      <th> cat chem detail</th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let item of data.mat_code" >
       <td>{{item}}</td>
      </tr>
       <tr *ngFor="let item2 of data.cat_chem"> 
      <td>{{item2}}</td>
      </tr>
      <!-- <tr *ngFor="let item3 of data.month"> 
          <td>{{item3}}</td>
          </tr>
          <tr *ngFor="let item4 of data.AOP"> 
              <td>{{item3}}</td>
              </tr> -->
  </tbody>
</table> 