table, th, td {
  border: 1px solid black;
}

td{
  vertical-align: middle;
}

th,td{
    padding: 1px;
}

.heading{
  font-family: initial;
  font-size: larger;
  font-weight: bold;
}
.red_color{
    background-color: red;
    
}
.filter{
  float: right;
}

.btn{
  margin: 19px;
  width: 103px;
  height: 44px;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 43px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  cursor: pointer;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
.td_style{
  font-size: small;
  text-align: center;
}
.orange_color{
background-color: orange;
}

.light_orange{
    background-color: orangered;
    font-size: small;
    text-align: center;
}