<ul>
  <i class="material-icons">
    account_circle
  </i>
  <li><a></a></li>
  <li><a></a></li>
  <li><a></a></li>
  <li><a></a></li>
</ul>
<br>
<div class="example-button-row">
  <button mat-raised-button color="primary">Add Remainder</button>
</div>
<br>
<div class="row ">
  <div class="col-sm-3 value_lead_label">
    <h5>Name</h5>
    <tbody>
      <tr>
        <td>John</td>
      </tr>
      <tr>
        <td>abc
        </td>
      </tr>
    </tbody>
  </div>
  <div class="col-sm-3  value_lead_label">
    <h5>Email</h5>
    <tbody>
      <tr>
        <td>John@gmail.com</td>
      </tr>
      <tr>
        <td>abc@gmail.com</td>
      </tr>
    </tbody>
  </div>
  <div class="col-sm-3 value_lead_label">
    <h5>Phone</h5>
    <tbody>
      <tr>
        <td>1234567890</td>
      </tr>
      <tr>
        <td>1234567832</td>
      </tr>
    </tbody>
  </div>
  <div class="col-sm-3 value_lead_label">
    <h5>Address</h5>
    <tbody>
      <tr>
        <td>Navi Mumbai</td>
      </tr>
      <tr>
        <td>Pune</td>
      </tr>
    </tbody>
  </div>
  <br>
  <br>
</div>
<br>
<div class = 'center' >
<button routerLink="/lead-details" (click)="detailsEmpolyee()" routerLinkActive="active" mat-raised-button color="primary">Click me!</button>
</div>
<!-- <router-outlet></router-outlet> -->
 