ul {
    list-style-type: none;
    margin: 0;
    padding: 1;
    overflow: hidden;
    background-color:blue;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding:   20px 22px;
    text-decoration: none;
  }
  /* .example-button-row button, */
.example-button-row a {
  margin-right: 8px;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  .example-full-width {
    width: 100%;
  }
  .row{
      padding:2;
  }
  .value_lead_label{
    font-size: 18px;
    background:white;
    color: black;
  }
  .center {
    text-align: center;
    /* border: 3px solid green; */
    
  }
  .material-icons{
    font-size :50px;
    padding:2;

  }







