<form [formGroup] = "profileName"  (ngSubmit)="onSubmit()">
<label>
  FirstName:
  <input type= "text" formControlName="firstName" required>
</label>
<label>
LastName: 
<input type = "text" formControlName = "lastName">
</label>
<!-- <p>
  Value:{{ name.value }}
</p> -->
<div formGroupName="address">
    <h3>Address</h3>
  
    <label>
      Street:
      <input type="text" formControlName="street">
    </label>
  
    <label>
      City:
      <input type="text" formControlName="city">
    </label>
    
    <label>
      State:
      <input type="text" formControlName="state">
    </label>
  
    <label>
      Zip Code:
      <input type="text" formControlName="zip">
    </label>
  </div>
 
</form>
<!-- <form [formGroup] = 'address' >
  <label>
    Street:
    <input type= "text" formControlName = "street">
  </label>  
  <label>
      City:
      <input type= "text" formControlName = "city">
    </label> 
    <label>
        State:
        <input type= "text" formControlName = "state">
      </label> 
      <label>
          Zip:
          <input type= "text" formControlName = "zip">
        </label> 
       
</form> -->
<p>
    <button type="submit"  (click) = "onSubmit()" >Submit</button>

</p>
<p>
  <button (click) = 'update()' > update</button>
</p>
<p>
    <!-- Form Status: {{ profileForm.status }} -->
  </p>