<h1 mat-dialog-title> ADD LEAD </h1>
<div [formGroup]="empAddForm" novalidate>
  <mat-dialog-content>
    <mat-form-field class="form_feild">
      <input matInput placeholder="First Name" formControlName="first_name">
    </mat-form-field>


    <mat-form-field class="form_feild">
      <input matInput placeholder="Email " formControlName="email">
    </mat-form-field>

    <mat-form-field class="form_feild">
      <input type="number" matInput placeholder="Mobile" formControlName="mobile">
    </mat-form-field>

    <mat-form-field class="form_feild">
      <mat-select placeholder="Lead Source" formControlName="lead_source">
        <mat-option *ngFor="let food of foods" [value]="food.value">
          {{food.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="form_feild">
      <input matInput [matDatepicker]="picker" placeholder="Call Back Date" formControlName="call_back_date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="form_feild">
      <mat-select placeholder="Response" formControlName="response">
        <mat-option *ngFor="let food of foods" [value]="food.value">
          {{food.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="form_feild">
        <mat-select placeholder="Lead Status" formControlName="lead_status">
          <mat-option *ngFor="let food of foods" [value]="food.value">
            {{food.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="form_feild">
          <mat-select placeholder="Tender's Profile" formControlName="tenders_profile">
            <mat-option *ngFor="let food of foods" [value]="food.value">
              {{food.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="form_feild">
            <mat-select placeholder="Tender's Exprience" formControlName="tenders_exprience">
              <mat-option *ngFor="let food of foods" [value]="food.value">
                {{food.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="form_feild">
              <textarea matInput placeholder="Description" formControlName="description" ></textarea>
            </mat-form-field>
          
  </mat-dialog-content>

  <div class="both_btn">
    <div class="Modal_delete_footer">
      <button mat-stroked-button color="warn" (click)="cancel('Cancel')" class="cancle_deelete_button">Cancel</button>
      <button mat-stroked-button color="primary" type="submit" [disabled]="!empAddForm.valid" (click)="onSubmit()"
        class="uppercase_button">Save</button>
    </div>
  </div>
</div>