<!-- <app-lead-details></app-lead-details> -->
<!-- <app-login-page></app-login-page> -->
<!-- <router-outlet></router-outlet> -->
<!-- <app-my-dish></app-my-dish> -->
<app-table></app-table>
<!-- <nav>
    <a routerLink = '/deparment' routerLinkActive = "active">Department</a>
<br>
    <a routerLink = '/employee' routerLinkActive = "active">Employees</a>
</nav> -->
<!-- <app-page-not-found></app-page-not-found> -->
<!-- <router-outlet></router-outlet> -->